<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>hello-xml</servlet-name>
        <servlet-class>com.github.ankurpathak.HelloWorldXmlServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello-xml</servlet-name>
        <url-pattern>/hello-xml</url-pattern>
    </servlet-mapping>
</web-app>